{% extends 'blog/base.html' %}
{% load static %}
{% block titre %}Calcul avec densimètre{% endblock %}
{% block content %}

<script href="{% static 'js/fonction.js' %}"></script>

    <form class="form-horizontal col-lg-6 col-lg-offset-2" action="/calc_with_densimetre/" method="post" name="calculalc" id="calculalc">{% csrf_token %}
        <div class="form-group">
            <legend align="center">Taux d'alcool de la bière</legend>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Saisir la densité initiale : </label>
                <div class="col-lg-5">
                    <input type="text" name="di" class="form-control" value="{{ di }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Saisir la densité finale : </label>
                <div class="col-lg-5">
                    <input type="text" name="df" class="form-control" value="{{ df }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Sucre ajouté à l'embouteillage : (en g/l) </label>
                <div class="col-lg-5">
                    <input type="text" name="sucre" class="form-control" value="7">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="center-block btn btn-primary" name="calculer" value="Calculer"/>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Le taux avant fermentation en bouteille est de : </label>
                <div class="col-lg-5">
                    <input type="textarea" name="test" class="form-control" id="textarea" readonly value="{{ dens1 }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="textarea" class="col-lg-8 control-label">Le taux après fermentation en bouteille est de : </label>
                <div class="col-lg-5">
                    <input type="textarea" name="ref_tot" class="form-control" id="textarea" readonly value="{{ ref_tot1 }}">
                </div>
            </div>
        </div>
    </form>

{% endblock %}