{% extends 'blog/base.html' %}
{% load static %}
{% block titre %}Calcul avec densimètre{% endblock %}
{% block content %}

<script href="{% static 'js/fonction.js' %}"></script>

    <div class="starter-template">
        <h1 class="titre text-center">Calcul avec densimètre</h1>
    </div>

    <form action="/calc_with_densimetre/" method="post" name="calculalc" id="calculalc">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputdi">Saisir la densité initiale :</label>
                <input type="text" name="di" class="form-control col-lg-3" id="inputdi" value="{{ di }}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputdf">Saisir la densité finale :</label>
                <input type="text" name="df" class="form-control col-lg-3" id="inputdf" value="{{ df }}">
            </div>
            <div class="form-group col-md-4">
                <label for="sucre">Sucre ajouté à l'embouteillage : (en g/l) </label>
                <input type="text" name="sucre" class="form-control col-lg-3" id="sucre" value="{{ sucre }}">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="center-block btn btn-primary" name="calculer" value="Calculer"/>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="outputti">Le taux avant fermentation en bouteille est de : </label>
                <input type="textarea" name="ti" class="form-control col-lg-3" id="outputti" readonly value="{{ dens1 }}">
            </div>
            <div class="form-group col-md-4">
                <label for="outputtf">Le taux après fermentation en bouteille est de : </label>
                <input type="textarea" name="tf" class="form-control col-lg-3" id="outputtf" readonly value="{{ ref_tot1 }}">
            </div>
        </div>


    </form>

{% endblock %}